.box01 {
  background-color: red;
}

.box02 {
  background-color: orange;
}

.box03 {
  background-color: yellow;
}

.box04 {
  background-color: green;
}

.box05 {
  background-color: blue;
}

.box06 {
  background-color: indigo;
}

.box07 {
  background-color: violet;
}
