html {
  text-transform: uppercase;
  /*letter-spacing: 2rem;*/

}


div {
  width: 100px;
  height: 100px;
  background-color: green;
}

h1 {
  font-weight: 400;
  text-shadow: 3px 4px 10px red;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 200;
  text-decoration: line-through;
  text-indent: 30px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration:underline;
}
