html, body, main, header, div, nav,  a, section, h1, button {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*body, header, div, nav,  a, section, h1, button {
  border: 1px dashed blue;
}*/

main {
  height: 1000px;
  display: flex;
  flex-flow: column nowrap;
  /*justify-content: center;*/
  align-items: center;

  /*border: 2px solid red;*/

  font-size: 1vw;
}

header {
 height: 60px;
 width: 100%;
 position: fixed;

 z-index: 1;

 background-color: white;

 display: flex;
 justify-content: flex-start;

 text-transform: uppercase;

 font-family: 'Roboto', sans-serif;

}

/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/

#logo {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

}

a {
  padding: 20px 0;
  text-decoration: none;

  color: #333;
}

#journey {
  font-weight: 700;
}

nav {
  display: none;
}

.nvbt {
  width: 25%;
  text-align: center;

  font-size: .6rem;
  font-weight: bold;
  color: deepskyblue;

  padding: 24px 0;
}

.nvbt:hover {
  color: #333;
}

#background {
  /*border: 2px solid red;*/
  height: 100vh;
  width: 100%;

  background-image: url("../images/adventure-sm.jpg");
  background-size: cover;
  background-position: center;

  /*position: fixed;*/
  position: fixed;
  top: 40px;
}

section {
  clear: both;

  position: relative;

 top: 85vh;
 left: 0px;

 height: 2000px;
 width: 100%;

 /*z-index: 1;*/

 background-color: white;
}

#sectop {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  font-family: 'Roboto Slab', serif;
}

button {
  height: 30px;
  width: 150px;

  background-color: #333;
  color: white;

  border-radius: 3px;
}

h1 {
  font-size: 1.5rem;
}

button:hover {
  background-color: deepskyblue;
}
