html, body, div, header, section, h1, h2, h3, nav, a, footer {
  padding: 0;
  border: 0px;
  /*border: 2px dashed red;*/
  margin: 0;
  box-sizing: border-box;
}

div {
  width: 100%;
  height: 100vh;

  background-image: url(img/background-photo-mobile-devices.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: center;
}

h1 {
 padding: 10px;
}

h2 {
  font-weight: bold;
  font-size: small;
  padding-top: 20px;
}

h3 {
 font-size: small;
 padding-bottom: 20px;
}

/*h1 {
  position: relative;
  bottom: 20px;
}*/

a {
  font-size: small;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
  background-color: white;
}

a:active{
  color: white;
}

a:focus {
  color: white;
}
