div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 20px groove;
    border-radius: 20%;
    background-image: url("../../000_img/pup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}